In [1]:
import pandas as pd

In [72]:
df1 = pd.read_excel('Telecom_Data.xlsx',sheet_name='Interstate')

In [33]:
df1.head()

   5G_Uptime_USA  5G_Uptime_Sample_Virginia  5G_Uptime_Sample_NewYork
0      91.399297                  13.813170                  5.641785
1      65.269333                  56.197406                  5.680149
2      79.047505                  46.937360                  6.486326
3      80.104638                  68.779125                  6.403918
4      83.363973                  53.792061                  1.318684

### One Sample Z Test (Two Tail Test)

We will test if -

Average 5G uptime of the entire country is different from the Average 5G uptime of the state of Virginia

H0 : The average 5G uptime is same

H1 : The average 5G uptime is different

In [34]:
from statsmodels.stats.weightstats import ztest as ztest

In [46]:
ztest(x1=df1['5G_Uptime_Sample_Virginia'].dropna(), value=df1['5G_Uptime_USA'].mean())

(-14.315916678698525, 1.7405385296791555e-46)

In [43]:
df1['5G_Uptime_USA'].mean()

50.26655196166505

In [44]:
df1['5G_Uptime_Sample_Virginia'].mean()

42.21368492619625

#### Conculsion :

* Since p is less than 0.05, hence there is strong evidence to reject null hypothesis. Hence, we accept the alternate hypothesis

* Therefore, the 5G uptime of USA and Virginia are different

### Two Sample Unpaired(Independent) Z Test (Two Tail Test)

We will test if -

Average 5G uptime of the state of New York is different from the Average 5G uptime of the state of Virginia

H0 : The average 5G uptime is same

H1 : The average 5G uptime is different

In [50]:
df1.head()

   5G_Uptime_USA  5G_Uptime_Sample_Virginia  5G_Uptime_Sample_NewYork
0      42.724600                  49.010883                 41.829044
1      56.528225                  54.303234                  5.103674
2      80.508831                  70.059357                 54.324308
3      27.066819                   0.920953                 24.186311
4      68.156297                   1.489179                 63.391426

In [71]:
ztest(x1=df1['5G_Uptime_Sample_Virginia'].dropna(),x2=df1['5G_Uptime_Sample_NewYork'].dropna(),value=0.08)

(1.0635127943159433, 0.287549466179164)

In [62]:
df1['5G_Uptime_Sample_Virginia'].mean()

42.9014226833448

In [63]:
df1['5G_Uptime_Sample_NewYork'].mean()

42.00449322706868

#### Conculsion :

* Since p is greater than 0.05, hence there is no strong evidence to reject null hypothesis. Hence, we accept the null hypothesis

* Therefore, the 5G uptime of New York and Virginia are same

### Two Sample Paired(Dependent) Z Test (Two Tail Test)

We will test if -

Average 5G uptime of the state of Virginia is different before and after a Software Upgrade

H0 : The average 5G uptime is same

H1 : The average 5G uptime is different

In [73]:
df2 = pd.read_excel('Telecom_Data.xlsx',sheet_name='Virginia')
df2.head()

,5G_Uptime_USA,5G_Uptime_Sample_Virginia_Pre,5G_Uptime_Sample_Virginia_Post
0,62.945735,26.600714,8.880596
1,71.710942,18.766009,1.832574
2,47.003414,56.071753,12.014310
3,47.400982,43.177482,9.697499
4,49.815520,80.109907,2.712348

In [74]:
df2['5G_Uptime_Sample_Virginia_Pre'].mean()-df2['5G_Uptime_Sample_Virginia_Post'].mean()

34.43502994868608

In [86]:
ztest(x1=df2['5G_Uptime_Sample_Virginia_Pre'].dropna(),x2=df2['5G_Uptime_Sample_Virginia_Post'].dropna())

(61.82120659164902, 0.0)

In [87]:
df2['5G_Uptime_Sample_Virginia_Pre'].mean()

42.14211473942107

In [88]:
df2['5G_Uptime_Sample_Virginia_Post'].mean()

7.707084790734987

#### Conculsion :

* Since p is less than 0.05, hence there is strong evidence to reject null hypothesis. Hence, we accept the alternate hypothesis

* Therefore, the 5G uptime of New York and Virginia are different